.Hero {
 
    width: 100%;
    background: #000;
    margin: 0;

    &__Welcometext {
        display: inline-flex !important;
        height: 100%;
        margin: auto;
        color: #fff;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 768px) {
            height: 50%
        }
    }

    &__Banner {
        display: flex !important;
        height: 100%;
        align-items: flex-end;

        @media (max-width: 768px) {
            height: 50%;
        }

        .photo-wrapper {
            height: 90%;
            width: 100%;
            margin-top: auto;
            background-image: url('../../../Assets/images/pradeep.png');
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}