$rootFolter: "../../../../Assets";

.hex {
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1.1;
  background-color: #30313c;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  transition: all 300ms ease-in;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
  }
}

.adobe {
  .hex {
    background-image: url("#{$rootFolter}/expertise/adobe.svg");
  }
}

.figma {
  .hex {
    background-image: url("#{$rootFolter}/expertise/figma.svg");
  }
}

.xd {
  .hex {
    background-image: url("#{$rootFolter}/expertise/xd.svg");
  }
}

.react {
  .hex {
    background-image: url("#{$rootFolter}/expertise/react.svg");
  }
}

.next {
  .hex {
    background-size: 110%;

    background-image: url("#{$rootFolter}/expertise/next.svg");
  }
}

.js {
  .hex {
    background-size: 120%;
    background-image: url("#{$rootFolter}/expertise/js.svg");
  }
}

.ts {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/ts.svg");
  }
}

.photoshop {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/photoshop.svg");
  }
}

.node {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/node.svg");
  }
}

.html {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/html.svg");
  }
}

.css3 {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/css3.svg");
  }
}

.sass {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/sass.svg");
  }
}

.azuredevops {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/azuredevops.svg");
  }
}

.github {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/github.svg");
  }
}

.bitbucket {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/bitbucket.svg");
  }
}

.jira {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/jira.svg");
  }
}

.docker {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/docker.svg");
  }
}

.kubernetes {
  .hex {
    background-size: 120%;

    background-image: url("#{$rootFolter}/expertise/kubernetes.svg");
  }
}
