#signature {
  path {
    animation: sign 0.5s ease-in;
    stroke: white;
    stroke-width: 1;
    stroke-linejoin: round;
    fill: transparent;
    animation-fill-mode: forwards;
    @for $i from 1 to 11 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.4s;
      }
    }
  }
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.SVG-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: cssAnimation 100ms ease-in 2.5s forwards;
  animation-fill-mode: forwards;
  z-index: 9999;
}

@keyframes cssAnimation {
  to {
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.line-1 {
  position: relative;
  font-family: "Satisfy", cursive;
  width: 6m;
  margin: 0 auto;
  color: #fff;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 100px;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 1s steps(12) 1s 1 normal both,
    blinkTextCursor 500ms steps(12) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
